/* Header */


.container {
    height: 150px;
    position: relative;
    text-align: center;
    background-color: rgb(122, 122, 207);
    background-image: url(../img/img/pattern.png);
  }

  
/* boleaner */
.booleaner{
    position: absolute;
    bottom: 25px;
    left:  30px;
    font-family: "DM Serif Text", serif;
    color: aliceblue;
}

/* scritta interna al banner */
.booleaner1{
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-family: "DM Serif Text", serif;
    color: aliceblue;
    font-size: large;
}

/* didascalie immagini */
#descrizioni{
     font-style: italic;
     font-size: 10px;
}

/* the booleaner scritto in blue */
.eheh{
    color: blue;
}

/* scritte in grigio */
.grey{
    color: grey;
}

#miao{
    font-size: 10px;
}

/* evidenziatore giallo sul testo */
.yellow{
    background-color: yellow;
}

/* tabella */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: blue; /* Colore di sfondo per l'intestazione */
    color: white; /* Colore del testo per l'intestazione */
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Linea di separazione delle celle */
} 

.riga-dispari {
    background-color: rgb(51, 176, 190); /* colore sfondo riga */
}

/* footer */



.image-container {
    background-image:url(../img/img/monitor.jpg);
    height: 100px;    
    text-align: center;
    color: white;
    width: 100px;
}

.image-container2 {
    background-image:url(../img/img/graph.jpg);
    height: 100px;    
    text-align: center;
    color: white;
    width: 100px;
}